{% extends 'base.html' %}

{% block title %}View Uploaded Files{% endblock %}

{% block content %}
{% load static %}
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box mb-30 ">
            <h2 class="h4 pd-20">Best Selling Products</h2>
            <table class="table nowrap">
                <thead>
                    <tr>
                        {% comment %} <th class="table-plus datatable-nosort">Product</th> {% endcomment %}
                        <th scope="col">#</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Download</th>
                        {% comment %} <th class="datatable-nosort">Action</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_files %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <th scope="row">{{ user.title }}</th>
                        <th scope="row"><a href="{{ user.file.url }}" Download>Download</th>                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}