{% extends 'base.html' %}

{% block title %}Upload Files Page{% endblock %}

{% block content %}
	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="container-fluid justify-content-between align-items-center">
				<div >
					<h2>Upload Image</h2>
					<form method="post" enctype="multipart/form-data">
					  {% csrf_token %}
					  {{ form.as_p }}
					  <button type="submit">Upload</button>
					</form>      
				</div>
			</div> 
		</div>
	</div>
{% endblock %}